@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scrollLeft {
  display: inline-block;
  white-space: nowrap;
  animation: scrollLeft 20s linear infinite;
}
